LOCATE COMP "clk_in" SITE "P6";
IOBUF PORT "clk_in" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_in" 25 MHZ;

LOCATE COMP "data[0]" SITE "K1";
IOBUF PORT "data[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "data[1]" SITE "G2";
IOBUF PORT "data[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "data[2]" SITE "M1";
IOBUF PORT "data[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "data[3]" SITE "L2";
IOBUF PORT "data[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
