LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "reset" SITE "K1";
IOBUF PORT "reset" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "a" SITE "G2";
IOBUF PORT "a" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "y" SITE "M1";
IOBUF PORT "y" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
